.confirmOrder {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container {
    max-width: 960px;
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
}

.orderInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 895px;
    margin-bottom: 40px;
}

.checkMark {
    position: relative;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(0, 174, 28, 1) 0%, rgba(255, 255, 255, .1) 100%);
    border-radius: 50%;
    margin-bottom: 24px;
}

.checkMark::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 16px;
    border-right: 4px solid #fff;
    border-top: 4px solid #fff;
    border-radius: 3px;
    top: 0;
    transform: translate(70%, 130%) rotate(135deg);
}

.orderInfo h1 {
    color: #243573;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: calc(32 / 20);
    margin-bottom: 24px;
}

.orderDetails {
    color: #243573;
    font-size: 16px;
    line-height: calc(16 / 20);
    margin-bottom: 24px;
}

.numberOrder {
    color: #243573;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(16 / 12);
    margin-bottom: 24px;
}

.dateOrder {
    color: #737373;
    font-size: 16px;
}

.allInfoCart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.contactInfo,
.shipInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
}

.contactInfo {
    margin-right: 30px;
}

.contactInfo h3,
.shipInfo h3,
.orderSummary h3 {
    display: flex;
    align-items: center;
    color: #243573;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
}

.contactInfo h3::before,
.shipInfo h3::before,
.orderSummary h3::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.contactInfo h3::before {
    background-image: url(../../assets/img/contact.svg);
}

.shipInfo h3::before {
    background-image: url(../../assets/img/shipment.svg);
}

.orderSummary h3::before {
    background-image: url(../../assets/img/sum.svg);
}

.contactInfo span,
.shipInfo span {
    font-size: 16px;
    font-weight: 400;
}

.orderSummary {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    padding: 16px;
    margin-bottom: 32px;
}

.itemOrder {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #C8C8C8;
    margin-bottom: 24px;
    padding-bottom: 16px;
}

.itemOrder img {
    width: 90px;
    height: 90px;
    margin-right: 8px;
    object-fit: cover;
}

.itemOrder>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemOrder span {
    margin-bottom: 15px;
}

.sumItem {
    color: #0C0C0C;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(16 / 20);
}

.totalSum {
    display: flex;
}

.totalSum>div {
    display: flex;
    flex-direction: column;
    margin-right: 57px;
}

.totalSum span {
    color: #000;
    font-size: 20px;
}

.totalSum span:not(:last-child) {
    margin-bottom: 16px;
}

.grandtotal {
    font-weight: 700;
}

#nextStepBtn {
    display: block;
    width: 150px;
    background-color: #00AE1C;
    border: 1px solid #00AE1C;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25), 0 4px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 9px 0;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
}

#nextStepBtn:hover {
    border-color: #5CE171;
}

#nextStepBtn:active {
    background-color: #0CD52B;
}

#nextStepBtn span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: calc(15 / 20);
}

@media (max-width: 480px) {
    .allInfoCart {
        flex-direction: column;
    }

    .contactInfo {
        margin-bottom: 30px;
    }
}