.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 20px;
}

.container {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 35px;
    max-width: 1340px;
    width: 100%;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    z-index: 10;
}

.preloaderRow {
    position: relative;
    top: 40%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloaderItem {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloaderItem:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}